@model Employee
@{
    ViewData["Title"] = "AddOrEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Add Employee Form</h4>
<hr />
<div class="text-danger m-2">
    @ViewBag.Message
</div>

<hr />

<div class="row">
    <div class="col-md-6 m-1">
        <form asp-action="AddEmployee" method="post">
            <partial name="_EmployeeDetailsPartial" />
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    }